<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password" type="password">
        <input type="submit">
    </form>
    <a href="/api/sessions/github"><button>Ingresar con github</button></a>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
    <p>¿Olvidaste tu contraseña? <a href="/reset">Restaurala aquí</a></p>
</div>
<script src="/js/login.js"></script>