<div>
    <h1>Resetear contraseña</h1>
    <form id="resetForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Nueva Contraseña</label>
        <input name="password" type="password">
        <input type="submit">
    </form>
</div>
<script src="/js/reset.js"></script>